
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="alert alert-success">
            <h4>Project Status</h4>
        </div>
    </div>

    <div class="col-md-4">
        <div class="alert alert-warning">
            <h4>Tasks</h4>
        </div>
    </div>

    <div class="col-md-4">
        <div class="alert alert-danger">
            <h4>Resources</h4>
        </div>
    </div>
</div>

